.git
.pytest_cache
__pycache__
*.py[cod]
.venv
venv
.env
data/*.db
data/*.sqlite*
data/backups
data/attachments
data/.procureflow_local_encryption.key
*.zip
*.log
.env.*
cloudrun-before-update*.yaml
data/uploads/
.gcloudignore

*.before_*
